.onboard-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
  mat-form-field {
    margin-bottom: 5px;
  }
  .docs {
    display: flex;
    flex-wrap: wrap;
    .doc-item {
      // margin-right: 5px;
      flex: 6;
      .mandatory {
        color: red;
      }
    }
  }
}
