<mat-card
  class="student-card"
  [ngClass]="{
    international: student.category == 1,
    domestic: student.category == 2
  }"
>
  <mat-card-header>
    <mat-card-title>{{ student.name }}</mat-card-title>
    <mat-card-subtitle>Detail</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions class="buttons">
    <button mat-button (click)="openViewEditDialog(true)">Edit</button>
    <button mat-button (click)="openViewEditDialog(false)">View</button>
    <button mat-button (click)="openDeleteDialog()">Delete</button>
  </mat-card-actions>
</mat-card>
