.login-form {
  margin-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  background-color: #673ab7;
  .input-values {
    display: flex;
    flex-direction: column;
    flex: 8;
  }
  button {
    flex: 1;
    background-color: #ffffff;
    border-radius: 20px;
  }
}
